@page "/"

<PageTitle>mattopie.com</PageTitle>

<div class="sections">
    <div class="card">
        <h1 id="name">Matt Opie</h1>
        <h2>Software Engineer</h2>
        <h3><i class="fa-solid fa-snowflake"></i>Florida / Maine<i class="fa-solid fa-sun"></i></h3>
        <div id="bio">
            <div id="business-card">
                <img class="headshot" src="images/headshot-business-card.png" />
            </div>
            <div id="bio-info">
                <p>
                    Hello! I'm Matt.
                    I'm a human who happens to have a degree in electrical engineering and a passion for programming.
                </p>
                <p>
                    This website serves as a way for me to showcase my personal projects and experiment with new ideas.
                </p>
            </div>
        </div>
        
    </div>
    <div class="quick-links">
        <div>
            <a href="resume">
                <div class="card" id="resume-link">
                    <h1><span class="fa-solid fa-file icon" aria-hidden="true"></span>Résumé</h1>
                </div>
            </a>
        </div>
        <div>
            <a href="portfolio">
                <div class="card" id="portfolio-link">
                    <h1><span class="fa-solid fa-code icon" aria-hidden="true"></span>Portfolio</h1>
                </div>
            </a>
        </div>
    </div>
</div>