@page "/top14"

<h1>Top 14 Patterns to Study for Coding Interviews</h1>
<div class="card" id="top">
    <h4>Sections</h4>
    <ul>
        <li><a href="#section-1">Sliding Window</a></li>
        <li><a href="#section-2">Two Pointers or Iterators</a></li>
        <li><a href="#section-3">Fast and Slow Pointers</a></li>
        <li><a href="#section-4">Merge Intervals</a></li>
        <li><a href="#section-5">Cyclic Sort</a></li>
        <li><a href="#section-6">In-place Reversal of Linked List</a></li>
        <li><a href="#section-7">Tree BFS (Breadth-first search)</a></li>
        <li><a href="#section-8">Tree DFS (Depth-first search)</a></li>
        <li><a href="#section-9">Two Heaps</a></li>
        <li><a href="#section-10">Subsets</a></li>
        <li><a href="#section-11">Modified Binary Search</a></li>
        <li><a href="#section-12">Top K Elements</a></li>
        <li><a href="#section-13">K-Way Merge</a></li>
        <li><a href="#section-14">Topological Sort</a></li>
    </ul>
</div>

<div id="section1" class="card">
    <h3>1. Sliding Window</h3>
    <p>
        The Sliding Window pattern is used to perform a required operation on a specific window size of a given array or linked list, such as finding the longest subarray containing all 1s. 
        Sliding Windows start from the 1st element and keep shifting right by one element and adjust the length of the window according to the problem that you are solving. 
        In some cases, the window size remains constant and in other cases the sizes grows or shrinks.
    </p>
</div>
<div id="section2" class="card">
    <h3></h3>
</div>
<div id="section3" class="card">
    <h3></h3>
</div>
<div id="section4" class="card">
    <h3></h3>
</div>
<div id="section5" class="card">
    <h3></h3>
</div>
<div id="section6" class="card">
    <h3></h3>
</div>
<div id="section7" class="card">
    <h3></h3>
</div>
<div id="section8" class="card">
    <h3></h3>
</div>
<div id="section9" class="card">
    <h3></h3>
</div>
<div id="section10" class="card">
    <h3></h3>
</div>
<div id="section11" class="card">
    <h3></h3>
</div>
<div id="section12" class="card">
    <h3></h3>
</div>
<div id="section13" class="card">
    <h3></h3>
</div>
<div id="section14" class="card">
    <h3></h3>
</div>


@code {

}
