body {
    background-color: #e8ecf2;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    cursor: pointer;
    height: 50px;
    width: 175px;
    transition: all;
    transition-duration: 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

button svg {
    margin-right: 8px;
    width: 18px;
    height: 18px;
}

.neu-btn {
    background: #e8ecf2;
    color: #185472;
    border-radius: 9999px;
    box-shadow: -1px -1px 10px rgba(255,255,255,0.6), 1px 1px 5px rgba(0,0,0, 0.3), inset -2px -2px 5px rgba(255, 255, 255, 1), inset 2px 2px 4px rgba(0,0,0,0.3);
}

    .neu-btn:hover {
        background: #e8ecf2;
        color: #73787d;
        border-radius: 9999px;
        box-shadow: -5px -5px 10px rgba(255,255,255,0.8), 5px 5px 10px rgba(0,0,0, 0.25);
    }