<button class="neu-btn">
    <i class="@icon"></i>
    <div class="nav-label">@text</div>
</button>

@code {
    [Parameter]
    public string? text { get; set; }
    [Parameter]
    public string? icon { get; set; }
}